<div class="row d-flex justify-content-center container">
  <div *ngFor="let appointment of appointmentList" class="col-sm-3 mb-5 mb-sm-0 ">
    <div class="card bg-card col my-4 ms-1 m-3">
      <div class="card-body position-relative">
        <h4 class="card-title title fw-bold">{{appointment.title}}</h4>
        <img src="src\assets\img\plus.png" alt="">
        <small class="position-absolute top-0 end-0 me-3 mt-3">{{appointment.priority}}</small>
        <p class="card-text">{{appointment.description}}</p>
        <p class="card-text float-start">{{appointment.startDate}}</p>
        <p class="card-text float-end">{{appointment.startDate}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="appointmentList == null" class="text-center mt-5">
  <h1 class="fs-1 pt-5">Registre seu Compromisso</h1>
</div>
