<!-- Side navigation -->
<div class="sidenav">
  <a href="#" class="fs-4"><i class="fa-solid fa-user"></i> Nome</a>
  <a href="#" class="fs-4"><i class="fa-solid fa-house mt-3"></i> Home</a>
  <div>
    <a class="nav-link dropdown-toggle fs-4 mt-3" role="button" data-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-calendar-days"></i> Agenda
    </a>
    <ul >
      <li><a class="dropdown-item fs-5 decoration-none" href="appointmentUrgentes"><span class="fs-6">🔴 </span>Urgentes</a></li>
      <li><a class="dropdown-item fs-5 decoration-none" href="/appointmentImportantes"><span class="fs-6">🟠 </span>Importantes</a></li>
      <li><a class="dropdown-item fs-5 decoration-none" href="/appointmentRegulares"><span class="fs-6">🟢 </span>Regulares</a></li>
    </ul>
  </div>
</div>
