
<div class="modal-header">
  <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Fechar">
    <span aria-hidden="true" class="float-end">&times;</span>
  </button>
  <h5 class="modal-title float-start">Modal title</h5>
</div>
<div class="modal-body" *ngIf="formulario">
  <form [formGroup]="formulario" class="row g-3" action="#" (ngSubmit)="createAppointment()">
    <div class="col-md-6">
      <label for="inputTitle" class="form-label">Title</label>
      <input formControlName="title" type="text" class="form-control" id="inputTitle">
    </div>
    <div class="col-md-6">
      <label for="inputPriority" class="form-label">Priority</label>
      <input formControlName="priority" type="text" class="form-control" id="inputPriority">
    </div>
    <div class="col-12">
      <label for="inputDescription" class="form-label">Description</label>
      <textarea formControlName="description" class="form-control" id="inputDescription" placeholder="1234 Main St"></textarea>
    </div>
    <div class="col-md-6">
      <label for="inputStartDate" class="form-label">Start Date</label>
      <input formControlName="startDate" type="date" class="form-control" id="inputStartDate">
    </div>
    <div class="col-md-6">
      <label for="inputEndDate" class="form-label">End Date</label>
      <input formControlName="endDate" type="date" class="form-control" id="inputEndDate">
    </div>
    <div class="col-12 mt-5">
      <button type="submit" class="btn btn-primary w-100 btn-block">Create</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
