
<div class="modal-header">
  <button type="button" class="close btn btn-danger" (click)="activeModal.dismiss()" aria-label="Fechar">
    <span aria-hidden="true" class="float-end">&times;</span>
  </button>
  <h5 class="modal-title float-start title-darkblue fw-bold fs-4">Cadastrar Compromisso</h5>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" class="row g-3" action="#" (ngSubmit)="createAppointment()">
    <div class="col-md-6">
      <label for="inputTitle" class="form-label fs-5">Título</label>
      <input formControlName="title" type="text" class="form-control" id="inputTitle">
    </div>
    <div class="col-md-6">
      <label for="inputPriority" class="form-label fs-5">Grau de Prioridade</label>
      <select  formControlName="priority_id" class="form-select" id="inputPriority">
        <option *ngFor="let priority of priorityList" value="{{priority.id}}">{{priority.grau}}</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputDescription" class="form-label fs-5">Descrição</label>
      <textarea formControlName="description" class="form-control" id="inputDescription" placeholder=""></textarea>
    </div>
    <div class="col-md-6">
      <label for="inputStartDate" class="form-label fs-5">Começa em:</label>
      <input formControlName="startDate" type="date" class="form-control" id="inputStartDate">
    </div>
    <div class="col-md-6">
      <label for="inputEndDate" class="form-label fs-5">Termina em:</label>
      <input formControlName="endDate" type="date" class="form-control" id="inputEndDate">
    </div>
    <div class="col-12 mt-5">
      <button id="btn-enviar" type="submit" (click)="activeModal.dismiss()" class="btn w-100 btn-block btn-lg text-white">Create</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark btn-lg" (click)="activeModal.close()">Close</button>
</div>
