<h1 class="text-center mb-5 mt-3">Compromissos Importantes</h1>

<div class="row d-flex justify-content-center container">
  <div *ngFor="let appointment of appointmentList" class="col-sm-3 mb-5 mb-sm-0 ">
    <div class="card bg-card col my-4 ms-1 m-3 cards">
      <div class="card-body position-relative">
        <h4 class="card-title text-dark fw-bold">{{appointment.title}}</h4>
        <p class="card-text">{{appointment.description}}</p>
        <div class="float-start">
          <small class="fw-semibold">Começa em:</small>
          <p class="card-text ">{{appointment.startDate}}</p>
        </div>

        <div class="float-end">
          <small class="fw-semibold">Termina em:</small>
          <p class="card-text">{{appointment.endDate}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="appointmentList == null" class="text-center mt-5">
  <h1 class="fs-1 pt-5">Registre seu Compromisso</h1>
</div>
